<div class="product-details">

    {{!-- header --}}
    <section>
        <h3>{{@name}}</h3>
        <div class="text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>

        </div>
    </section>

    {{!-- Price --}}


    <section class="{{unless @isDetails 'h4'}}">
        <del class="small text-black-50">{{currency @price.original}}</del>
        <i class="text-danger fw-bold">{{currency @price.current}}</i>
    </section>

    {{#if @isDetails}}


    <div>
        <h5>Color</h5>
        <div class="product-colors active-{{@color}}">
            {{#each @colors as |color|}}
            <span class="product-color {{concat 'color-' color.color}}" {{on "click" (fn @changeColor color.color
                )}}></span>

            {{/each}}

        </div>
    </div>
    {{/if}}

</div>