<main class="container mt-5">
    <h1>Shopping Cart</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <LinkTo @route="index">
                Home
            </LinkTo>
        </li>
        <li class="breadcrumb-item">Shopping cart</li>
    </ol>


    {{#each cart.itemlist as |c|}}
    <div class="cart-item d-flex align-items-space-between">
        <div class="cart-item-thumbnail">
            <img src={{c.image}} alt="">
        </div>

        <div class="ms-3">
            <h5>{{c.name}}</h5>
            <h6>{{currency c.price}}</h6>
        </div>

        <input type="number" class="ms-auto" value={{c.count}} {{on "input" (fn this.updateItemCount c) }}>


    </div>
    {{/each}}


    <section class="w-50 ms-auto text-end mb-5">

        <div class="row">
            <span class="col">Subtotal</span>
            <span class="col">{{ currency this.subtotal sign='$'}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{currency this.tax sign='$'}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{currency this.total sign='$'}}</span>
        </div>



    </section>

    <button type="button" class="btn btn-success float-end">
        Check out
    </button>


</main>